@tailwind base;
@tailwind components;
@font-face {
  font-family: "kings_caslonregular";
  src: url("fonts/kings_caslon-webfont.woff2") format("woff2"),
    url("fonts/kings_caslon-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "helenehessregular";
  src: url("fonts/helenehess-regular-webfont.woff2") format("woff2"),
    url("fonts/helenehess-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@tailwind utilities;

@layer base {
  html,
  body {
    background-color: transparent;
    transition: color 1s ease;
    padding: 0;
    margin: 0;
    font-family: kings_caslonregular, "Helvetica Neue", Helvetica, Arial,
      sans-serif;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  }
}

#navbar {
  transition: all 0.3s ease;
}

.menu {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 26px;
  width: 26px;
}

.menu-link {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1002;
}

.menu-icon {
  position: absolute;
  width: 20px;
  height: 14px;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 1px;
}

/* ------------- */
.menu-line {
  background-color: #fff;
  height: 2px;
  width: 100%;
  border-radius: 2px;
  position: absolute;
  left: 0;
  transition: all 0.25s ease-in-out;
}
.menu-line-2 {
  top: 0;
  bottom: 0;
  margin: auto;
}
.menu-line-3 {
  bottom: 0;
}
.menu.open .menu-line-1 {
  background-color: #fff;
  transform: translateY(7px) translateY(-50%) rotate(-45deg);
}
.menu.open .menu-line-2 {
  background-color: #fff;
  opacity: 0;
}
.menu.open .menu-line-3 {
  background-color: #fff;
  transform: translateY(-7px) translateY(50%) rotate(45deg);
}

/* ------------- */
.menu-circle {
  background-color: #010f2a;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  transform: scale(2);
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}
.menu:hover .menu-circle {
  transform: scale(1.5);
}
.menu.open .menu-circle {
  transform: scale(100);
}

/* ------------- */
.menu-overlay {
  background-color: #010f2a;
  color: #000;
  height: 100%;
  width: 100%;
  position: fixed;
  text-align: center;
  transition: opacity 0.2s ease-in-out;
  z-index: 1001;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
  width: 100%;
}

/* ------------- */
.info {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.overlay-info {
  text-align: center;
  color: #fff;
}

#mainCarousel,
#mainCarousel2,
#mainCarousel3 {
  width: 100%;
  margin: 0 auto 0 auto;
  --carousel-button-color: #170724;
  --carousel-button-bg: transparent;
  --carousel-button-width: 64px;
  --carousel-button-height: 64px;
  --carousel-button-svg-stroke-width: 0;
}

#mainCarousel .carousel__slide,
#mainCarousel2 .carousel__slide,
#mainCarousel3 .carousel__slide {
  width: 100%;
  padding: 0;
}

#mainCarousel .carousel__button.is-prev,
#mainCarousel2 .carousel__button.is-prev,
#mainCarousel3 .carousel__button.is-prev {
  left: 2rem;
  content: url("Component15.svg");
  opacity: 0.5 !important;
}

#mainCarousel .carousel__button.is-next,
#mainCarousel2 .carousel__button.is-next,
#mainCarousel3 .carousel__button.is-next {
  right: 2rem;
  content: url("Component14.svg");
  opacity: 0.5 !important;
}

@media screen and (max-width: 768px) {
  #mainCarousel .carousel__button.is-prev,
  #mainCarousel2 .carousel__button.is-prev,
  #mainCarousel3 .carousel__button.is-prev {
    visibility: hidden;
  }

  #mainCarousel .carousel__button.is-next,
  #mainCarousel2 .carousel__button.is-next,
  #mainCarousel3 .carousel__button.is-next {
    visibility: hidden;
  }
}

#mainCarousel .carousel__button.is-prev:hover,
#mainCarousel2 .carousel__button.is-prev:hover {
  opacity: 1 !important;
}

#mainCarousel .carousel__button.is-next:hover,
#mainCarousel2 .carousel__button.is-next:hover {
  opacity: 1 !important;
}

#mainCarousel .carousel__button:focus,
#mainCarousel2 .carousel__button:focus,
#mainCarousel3 .carousel__button:focus {
  outline: none;
  box-shadow: 0 0 0 0px #a78bfa;
}

#thumbCarousel .carousel__slide,
#thumbCarousel2 .carousel__slide,
#thumbCarousel3 .carousel__slide {
  opacity: 0.5;
  padding: 0;
  margin: 0.25rem;
  width: 96px;
  height: 64px;
}

#thumbCarousel .carousel__slide img,
#thumbCarousel2 .carousel__slide img,
#thumbCarousel3 .carousel__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px;
}

#thumbCarousel .carousel__slide.is-nav-selected,
#thumbCarousel2 .carousel__slide.is-nav-selected,
#thumbCarousel3 .carousel__slide.is-nav-selected {
  opacity: 1;
}

.loader {
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}
